.owl-carousel .item {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    transition: transform 0.5s ease;
}

.owl-carousel .item:hover {
    transform: scale(1.1);
}

.owl-next {
    float: right;
}

.owl-prev {
    float: left;
}

.owl-prev span, .owl-next span {
    font-size: 24px;
    font-weight: bold;
}

.buttermilk {
    background-color: #fff;
    background-image: linear-gradient(#fff7ef, #fff);
    background-image: -webkit-linear-gradient(#fff7ef, #fff);
    background-image: -moz-linear-gradient(#fff7ef, #fff);
    background-image: -ms-linear-gradient(#fff7ef, #fff);
    background-image: -o-linear-gradient(#fff7ef, #fff);
    padding: 50px 40px;
    border: 1px solid #efe8e1;
    padding-bottom: 20px;
}

.smbg {
    background-color: #fff;
    background-image: linear-gradient(rgba(110, 69, 143, 0.1), #fff);
    background-image: -webkit-linear-gradient(rgba(110, 69, 143, 0.1), #fff);
    background-image: -moz-linear-gradient(rgba(110, 69, 143, 0.1), #fff);
    background-image: -ms-linear-gradient(rgba(110, 69, 143, 0.1), #fff);
    background-image: -o-linear-gradient(rgba(110, 69, 143, 0.1), #fff);
}

.curdbgpro {
    background-color: #fff;
    background-image: linear-gradient(rgba(10, 77, 123, 0.1), #fff);
    background-image: -webkit-linear-gradient(rgba(10, 77, 123, 0.1), #fff);
    background-image: -moz-linear-gradient(rgba(10, 77, 123, 0.1), #fff);
    background-image: -ms-linear-gradient(rgba(10, 77, 123, 0.1), #fff);
    background-image: -o-linear-gradient(rgba(10, 77, 123, 0.1), #fff);
}

.goodnessseccont img {
    width: 70%; /* Giảm kích thước ảnh xuống còn 80% */
    height: auto; /* Đảm bảo giữ tỷ lệ hình ảnh */
    max-width: 300px; /* Giới hạn chiều rộng tối đa của ảnh */
    margin: 0 auto; /* Canh giữa ảnh */
    display: block; /* Đảm bảo ảnh là khối riêng biệt */
}

.mlkpro {
    color: #636362;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 15px;
    width: 43%;
    margin: 0 auto;
    text-align: center;
}

.goodnesssec a {
    text-decoration: none;
}
