{% extends 'app/base.html' %}
{% load static %}
{% block content_checkout %}
<div class="row">
    <!-- Thông tin người dùng -->
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form">
                <h4>Thông tin người dùng</h4>
                <div id="user-info">
                    <div class="form-field">
                        <input required class="form-control custom-input" type="text" name="name" placeholder="Họ và tên..">
                    </div>
                    <div class="form-field">
                        <input required class="form-control custom-input" type="email" name="email" placeholder="Email..">
                    </div>
                </div>

                <div id="shipping-info">
                    <hr>
                    <p>Thông tin giao hàng:</p>
                    <hr>
                    <div class="form-field">
                        <input class="form-control custom-input" type="text" name="city" placeholder="Thành phố...">
                    </div>
                    <div class="form-field">
                        <input class="form-control custom-input" type="text" name="state" placeholder="Huyện...">
                    </div>
                    <div class="form-field">
                        <input class="form-control custom-input" type="text" name="address" placeholder="Địa chỉ giao hàng...">
                    </div>
                    <div class="form-field">
                        <input class="form-control custom-input" type="text" name="Sdt" placeholder="Số điện thoại...">
                    </div>
                    <div class="form-field">
                        <input class="form-control custom-input" type="text" name="info" placeholder="Nhập các thông tin khác...">
                    </div>
                </div>

                <hr>

                <input id="form-button" class="btn btn-dark btn-block" type="submit" value="Tiến hành thanh toán">
            </form>
        </div>
    </div>

    <!-- Tóm tắt đơn hàng -->
    <div class="col-lg-6">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'pas' %}">&#x2190; Quay lại phiên đấu giá</a>
            <hr>
            <h3>Tóm tắt đơn hàng</h3>
            <hr>
            <div class="cart-row" style="display: flex; justify-content: space-between; padding: 10px 0;">
                <div style="flex:2">
                    <!-- Hình ảnh sản phẩm với hiệu ứng -->
                    <img class="row-image img-thumbnail" src="{% static 'app/image/p.png' %}" style="width: 150px; height: auto; object-fit: cover;">
                </div>
                <div style="flex:2"><p>Vòng cổ vàng</p></div>
                <div style="flex:1"><p>$1,000,000</p></div>
                <div style="flex:1"><p>x1</p></div>
            </div>

            <h5>Tổng sản phẩm: 1</h5>
            <h5>Tổng cộng: $1,000,000</h5>

            <h4>Chọn phương thức thanh toán:</h4>
            <div class="payment-options">
                <label>
                    <input type="radio" name="payment_method" value="paypal"> PayPal
                </label>
                <label>
                    <input type="radio" name="payment_method" value="credit_card"> Thẻ tín dụng
                </label>
                <label>
                    <input type="radio" name="payment_method" value="bank_transfer"> Chuyển khoản ngân hàng
                </label>
            </div>

        
        </div>
    </div>
</div>


{% endblock content_checkout %}
